@page "/khongduoctruycap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Không được truy cập";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không được truy cập trang này.</p>
</header>
