@page "/login/"
@model LoginModel

@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}



<section class="container forms">

    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="field input-field">
                    <input asp-for="Input.UserName" class="input" autocomplete="username" aria-required="true" placeholder="Tên đăng nhập" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="field input-field">
                    <input asp-for="Input.Password" class="password" autocomplete="current-password" aria-required="true" placeholder="Nhập mật khẩu" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

           

                <div class="field button-field">
                    <button id="login-submit" type="submit">Đăng nhập</button>
                </div>
            </form>

            <div class="form-link">
                <span>Bạn chưa có tài khoản? <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            @foreach (var provider in Model.ExternalLogins!)
            {
                if (provider.Name == "Google")
                {
                    <a href="#;" class="field google" onclick="document.getElementById('google-login-form').submit();">
                        <img src="layoutLogin/Images/google.png" alt="" class="google-img">
                        <span>Đăng nhập với @provider.DisplayName</span>
                    </a>

                    <!-- Form ẩn để gửi yêu cầu đăng nhập -->
                    <form id="google-login-form" asp-page="./ExternalLogin" asp-route-provider="@provider.Name" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="display:none;">
                    </form>

                }
            }
        </div>

    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}