@page
@model KoiFarmShop.WebApplication.Pages.Koihtml.CreateModel

<h4>Koi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Koi.KoiCateId" class="control-label"></label>
                <select asp-for="Koi.KoiCateId" class ="form-control" asp-items="ViewBag.KoiCateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Title" class="control-label"></label>
                <input asp-for="Koi.Title" class="form-control" />
                <span asp-validation-for="Koi.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Description" class="control-label"></label>
                <input asp-for="Koi.Description" class="form-control" />
                <span asp-validation-for="Koi.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Price" class="control-label"></label>
                <input asp-for="Koi.Price" class="form-control" />
                <span asp-validation-for="Koi.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Age" class="control-label"></label>
                <input asp-for="Koi.Age" class="form-control" />
                <span asp-validation-for="Koi.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Size" class="control-label"></label>
                <input asp-for="Koi.Size" class="form-control" type="number" step="0.1" />
                <span asp-validation-for="Koi.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Breed" class="control-label"></label>
                <input asp-for="Koi.Breed" class="form-control" />
                <span asp-validation-for="Koi.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Gender" class="control-label"></label>
                <input asp-for="Koi.Gender" class="form-control" />
                <span asp-validation-for="Koi.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Origin" class="control-label"></label>
                <input asp-for="Koi.Origin" class="form-control" />
                <span asp-validation-for="Koi.Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Detail" class="control-label"></label>
                <input asp-for="Koi.Detail" class="form-control" />
                <span asp-validation-for="Koi.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Image" class="control-label"></label>
                <input asp-for="Koi.Image" class="form-control" />
                <span asp-validation-for="Koi.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Stock" class="control-label"></label>
                <input asp-for="Koi.Stock" class="form-control" />
                <span asp-validation-for="Koi.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
