@page
@model KoiFarmShop.WebApplication.Pages.Userhtml.IndexModel

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Danh sách các thành viên</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tên User
                        </th>
                        <th>
                            Tên Role
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.users)
                    {
                        <tr>
                            <td>
                                @item.UserName
                            </td>
                            <td>
                                @item.RoleNames
                            </td>
                            
                            <td>
                                <button type="button" class="btn btn-info">
                                    <a asp-page="./SetPassword" asp-route-id="@item.Id" style="color:white">Đặt mật khẩu</a>
                                </button>

                                <button type="button" class="btn btn-info">
                                    <a asp-page="./AddRole" asp-route-id="@item.Id" style="color:white">Thêm Role</a>
                                </button>
                                
                            </td>
                        </tr>
                    }               
                </tbody>
            </table>
        </div>
    </div>


    
</div>

