@page
@model KoiFarmShop.WebApplication.Pages.Contacthtml.EditModel

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact.ContactId" />
            <div class="form-group">
                <label asp-for="Contact.CateId" class="control-label"></label>
                <select asp-for="Contact.CateId" class="form-control" asp-items="ViewBag.CateId"></select>
                <span asp-validation-for="Contact.CateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.UserId" class="control-label"></label>
                <select asp-for="Contact.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Contact.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Report" class="control-label"></label>
                <input asp-for="Contact.Report" class="form-control" />
                <span asp-validation-for="Contact.Report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Status" class="control-label"></label>
                <input asp-for="Contact.Status" class="form-control" />
                <span asp-validation-for="Contact.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.CreatedDay" class="control-label"></label>
                <input asp-for="Contact.CreatedDay" class="form-control" />
                <span asp-validation-for="Contact.CreatedDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
