@page
@model KoiFarmShop.WebApplication.Pages.Orderhtml.CreateModel

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order_.CustomerId" class="control-label"></label>
                <select asp-for="Order_.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order_.Total" class="control-label"></label>
                <input asp-for="Order_.Total" class="form-control" />
                <span asp-validation-for="Order_.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_.Status" class="control-label"></label>
                <input asp-for="Order_.Status" class="form-control" />
                <span asp-validation-for="Order_.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_.ShipAddress" class="control-label"></label>
                <input asp-for="Order_.ShipAddress" class="form-control" />
                <span asp-validation-for="Order_.ShipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_.PaymentMethod" class="control-label"></label>
                <input asp-for="Order_.PaymentMethod" class="form-control" />
                <span asp-validation-for="Order_.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
