@page
@model KoiFarmShop.WebApplication.Pages.CmtBloghtml.EditModel



<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Create CommentBlog</h4>
    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Create</h5>
                </div>
                <div class="card-body">

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CommentBlog.CmtBlogId" />
                        <div class="mb-3">
                            <label asp-for="CommentBlog.BlogId" class="control-label"></label>
                            <select asp-for="CommentBlog.BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
                            <span asp-validation-for="CommentBlog.BlogId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CommentBlog.Content" class="control-label"></label>
                            <input asp-for="CommentBlog.Content" class="form-control" />
                            <span asp-validation-for="CommentBlog.Content" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CommentBlog.CreatedBy" class="control-label"></label>
                            <select asp-for="CommentBlog.CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                            <span asp-validation-for="CommentBlog.CreatedBy" class="text-danger"></span>
                        <div class="mb-3">
                                <label asp-for="CommentBlog.CreatedDay" class="control-label"></label>
                                <input class="form-control" asp-for="CommentBlog.CreatedDay" type="date" id="html5-date-input" />
                                <span asp-validation-for="CommentBlog.CreatedDay" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                                <label asp-for="CommentBlog.UpdateDay" class="control-label"></label>
                                <input class="form-control" asp-for="CommentBlog.UpdateDay" type="date" id="html5-date-input" />
                                <span asp-validation-for="CommentBlog.UpdateDay" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                                <label asp-for="CommentBlog.UpdateBy" class="control-label"></label>
                                <select asp-for="CommentBlog.UpdateBy" class="form-control" asp-items="ViewBag.UpdateBy"></select>
                                <span asp-validation-for="CommentBlog.UpdateBy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-secondary"><a asp-page="Index" style="color:white">Back to List</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}