@page
@model KoiFarmShop.WebApplication.Pages.UserOrder.CreateModel

<style>
    .section-header {
        padding-top: 90px;
    }
</style>

<div class="container">
    <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <h1 class="display-5 mb-3">Thanh toán</h1>
        
    </div>
    <div class="row g-5 justify-content-center">
        <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="bg-primary text-white d-flex flex-column justify-content-center h-100 p-5">
                <h5 class="text-white">Tên cá:</h5>
                <p class="mb-5">@Model.Koi.Title</p>
                <h5 class="text-white">Đơn giá</h5>
                <p class="mb-5">@Model.Koi.Price.ToString("C")</p>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            
            <form method="post">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="hidden" name="id" value="@Model.Koi.KoiId" />
                            <input type="number" name="Quantity" value="1" min="1" class="form-control" />
                            <label for="Quantity">Số lượng</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select name="PaymentMethod" class="form-select">
                                <option value="0">Tiền mặt</option>
                                <option value="1">Chuyển khoản</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" name="ShipAddress" placeholder="Địa chỉ" class="form-control" />
                            <label for="ShipAddress">Địa chỉ</label>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Thanh toán</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>